<!DOCTYPE html>
<html {{ language_attributes }} class="no-js">
    <head>
        {% include '_partials/_meta.twig' %}
        {% include '_partials/_tracking.twig' %}
        {{ function('wp_head') }}
        {% block head %}
        {% endblock %}
    </head>
    <body class="{{ body_class }} network-theme fg-{{ foreground }}" data-source="layout.twig">

        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="header {{ darken_header }}" {{ header_bg }}>
            {% block header %}
            <div class="container">
                {% include '_partials/_header.twig' %}
            </div>
            {% endblock %}
            {% block hero %}
                {% include '_partials/_hero.twig' %}
            {% endblock %}
        </header>

        <div id="content" role="main" class="content-wrapper">
            {% block content %}
                No content
            {% endblock %}
        </div>

        <footer id="footer">
            <div class="container">
                {% include '_partials/_footer.twig' %}
            </div>
        </footer>

        {% block body %}
        {% endblock %}
        {{ fn('wp_footer') }}
    </body>
</html>