
{% extends '_master.twig' %}

{% block hero %}
<section class="container invert-text blog-title">
    {% include '_searchform.twig' %}
</section>
{% endblock %}


{% block content %}
<ul class="container results final">
  {% for post in posts %}
    <li class="result">
        <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
        {% if post.post_type == 'post' %}
        <p class="post-meta">
            {{ post.display_date }}
            by {{ post.author }}
            {% if post.category != 'Uncategorized' %}
              in <a href="{{ post.category.url }}">{{ post.category }}</a>
            {% endif %}
        </p>
        {% endif %}
        {{ post.get_preview(35) }}
    </li>
  {% else %}
    <li class="none">No results</li>
  {% endfor %}
</ul>
{% endblock %}
